<div class='form-horizontal'>
	<form>
		<div class='form-group'>
			<label class='col-md-2 control-label' for='first-name'>First Name</label>
			<div class='col-md-4'>
				<input class='form-control' type='text' id='first-name' [(ngModel)]='user.FirstName' name='FirstName'>
			</div>
		</div>
		<div class='form-group'>
			<label class='col-md-2 control-label' for='last-name'>Last Name</label>
			<div class='col-md-4'>
				<input class='form-control' type='text' id='last-name' [(ngModel)]='user.LastName' name='LastName'>
			</div>
		</div>
		<div class='form-group'>
			<label class='col-md-2 control-label' for='user-name'>User Name</label>
			<div class='col-md-4'>
				<input class='form-control' type='text' id='user-name' [(ngModel)]='user.UserName' name='UserName'>
			</div>
		</div>
		<div class='form-group'>
			<label class='col-md-2 control-label' for='user-email'>Email</label>
			<div class='col-md-4'>
				<input class='form-control' type='text' id='user-email' [(ngModel)]='user.Email' name='Email'>
			</div>
		</div>
		<div class='form-group'>
			<label class='col-md-2 control-label' for='user-isadmin'>Admin</label>
			<div class='col-md-4'>
				<input class='form-control' type='checkbox' id='user-isadmin' [(ngModel)]='user.IsAdmin' name='IsAdmin'>
			</div>
		</div>
		<div class='form-group'>
			<label class='col-md-2 control-label' for='user-active'>Active</label>
			<div class='col-md-4'>
				<input class='form-control' type='checkbox' id='user-active' [(ngModel)]='user.Active' name='Active'>
			</div>
		</div>
		<div class='form-group'>
			<div class='col-md-2 col-md-offset-3'>
				<button type='submit' class='btn btn-success' (click)='OnSubmit()'>Submit</button>
			</div>
		</div>
	</form>
	<!-- {{diagnostic}} -->
</div>