<div class='form-horizontal'  *ngIf='user'>
	<div class='form-group'>
		<label class='col-md-2 control-label' for="user-id">Id</label>
			<label class='control-label' for="user-id">{{user.Id}}</label>
	</div>
	<div class='form-group' >
		<label class='col-md-2  control-label' for="user-first-name">First Name</label>
			<input class='col-md-4 form-control' type='text' id='user-first-name' [disabled]="editable" value={{user.FirstName}} placeholder="First Name">
	</div>
	<div class='form-group' >
		<label class='col-md-2  control-label' for="user-last-name">Last Name</label>
		<div class='col-md-4'>
			<input class='form-control' type='text' id='user-last-name' [disabled]="editable" value={{user.LastName}} placeholder="Last Name">
		</div>
	</div>	
	<div class='form-group' >
		<label class='col-md-2  control-label' for="user-user-name">User name</label>
		<div class='col-md-4'>
			<input class='form-control ' type='text' id='user-user-name' [disabled]="editable" value={{user.UserName}} placeholder="User Name">
		</div>
	</div>
	<div class='form-group' >
		<label class='col-md-2  control-label' for="user-email">Email</label>
		<div class='col-md-4'>
			<input class='form-control ' type='text' id='user-email' [disabled]="editable" value={{user.Email}} placeholder="Email">
		</div>
	</div>
	<div class='form-group' >
		<label class='col-md-2  control-label' for="user-active">Active</label>
		<div class='col-md-1'>
			<input class='form-control' type='checkbox' id='user-active' [disabled]="editable" checked="{{user.Active ? 'checked' : ''}}" placeholder="Active">
		</div>
	</div>
	<div class='form-group'>
		<button id='update' class='col-md-1 col-md-offset-2 btn btn-primary' [disabled]="editable">Update</button>
		<button (click)='remove(user.Id)' id='delete' class='col-md-1 col-md-offset-1 btn btn-danger' [disabled]="editable">Delete</button>
	</div>
</div>